:root {
  --primary-color: #21a5d5;
  --main-para-color: #363c42;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.h-parent {
  background-color: var(--primary-color);
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;

  width: 70%;
  margin: auto;
}

.h-left p {
  color: white;
}

.h-left,
.email,
.location {
  gap: 0.8rem;
  display: flex;
}

.h-right {
  display: flex;
  gap: 1rem;
  color: #64d6ff;
}

.n-parent {
  box-shadow: 0 3px 10px 3px lightgray;
  padding: 0.4rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.menu-items {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-transform: capitalize;
}

.contact-btn button {
  padding: 0.6rem 1rem;
  border-radius: 40px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
}

.bi-list {
  font-size: 2rem;
  display: none;
}

.hero {
  display: flex;
  width: 70%;
  margin: 2rem auto;
  align-items: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.hero p {
  font-size: 1.4rem;
  color: var(--main-para-color);
}

.demo-btn {
  padding: 0.6rem 1rem;
  border-radius: 60px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}

.hero-left,
.hero-right {
  width: 100%;
}

.solutions {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
  color: white;
}

.s-cards {
  display: flex;
  margin: 3rem auto;
  width: 70%;
  justify-content: space-around;
}

.partners {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
}

.partners h2 {
  margin: 1rem 0;
  font-size: 3rem;
}

.partners p {
  font-size: 1.5rem;
  color: var(--main-para-color);
}

.services {
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
}

.service-top,
.service-bottom {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  gap: 1rem;
}

.service-card {
  text-align: center;
  padding: 2rem;
  border-radius: 30px;
  background-color: white;
  color: black;
}

@media (max-width: 1520px) {
  .service-bottom,
  .service-top {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1440px) {
  nav,
  header,
  .hero {
    width: 85%;
  }
}
@media (max-width: 1170px) {
  nav,
  header,
  .hero {
    width: 95%;
  }
}
@media (max-width: 1060px) {
  .menu-items {
    display: none;
  }
  .bi-list {
    display: block;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .partners h2 {
    font-size: 2rem;
  }
  .partners p {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  .hero h1 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 1rem;
  }
}
@media (max-width: 630px) {
  .h-left {
    display: none;
  }

  .s-cards {
    width: 90%;
  }

  .partners {
    width: 80%;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 440px) {
  .contact-btn {
    display: none;
  }
}

@media (max-width: 380px) {
  .s-cards {
    overflow-x: scroll;
    gap: 3rem;
  }
}
